html {
    background-color: #23424A;

}


.container {
    width: 80%;

    margin: 0 auto;
    padding: 15em;
}

h1 {
    width: 55%;
    color: white;
    font-size: 3em;
    font-style: normal;
}

p {
    font-size: 21px;
    width: 50%;
    color: white;  
}

button {
    background-color: #38CFD9;
    font-size: 21px;
    font-style: bold;
    border-radius: 4em;
    border-style: none;
    padding: 10px 35px;
}